OPENAI_API_KEY=sk-proj-your-api-key-here
LANGFUSE_PUBLIC_KEY=pk-lf-your-api-key-here
LANGFUSE_SECRET_KEY=sk-lf-your-api-key-here
LANGFUSE_HOST=https://cloud.langfuse.com
LANGFUSE_RELEASE=1.1.0
MAX_CONTEXT_TOKENS=8000
